{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus aspernatur assumenda at dolor doloremque
        dolores, esse fugiat, id ipsam laborum, maiores nisi placeat possimus quas qui quisquam quos repellat temporibus
        voluptatum? Aperiam, culpa deleniti eligendi nesciunt nihil tenetur. Praesentium?</p>

    <p>Aut dolores eaque eligendi explicabo inventore ipsa iste magnam nesciunt odio odit optio perferendis porro, quas repellat sunt
    tempore, veritatis? In praesentium sapiente ut. Alias cumque dicta dolorum, eaque earum exercitationem nam odio
    pariatur provident, quam tenetur voluptatibus? Ducimus, quam.</p>

{% endblock %}
